.org-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  .msg-org-list {
    flex: 1;
    overflow: auto;
    background: url(../images/main-list-bg.gif) repeat-y;
    color: #333;
    .msg-org {
      margin: 0;
      padding: 0 18px 20px 35px;
      list-style: none;
      > li {
        margin-top: 15px;
      }
      .dept-name {
        position: relative;
        display: inline-block;
        padding: 9px 18px;
        text-decoration: none;
        color: inherit;
        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: 9px;
          width: 10px;
          height: 18px;
          background: url(../images/ico-angle-right.svg) no-repeat left;
          transition: transform 0.5s;
        }
        &.open::before {
          transform: rotate(90deg);
        }
        .dept-name-tit {
          font-weight: bold;
        }
        .staff-no {
          color: #888;
        }
      }
      .msg-user-list {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
          position: relative;
          &:not(.has-child) {
            &::before {
              content: '';
              position: absolute;
              display: inline-block;
              left: -23px;
              top: 21px;
              width: 8px;
              height: 8px;
              border-radius: 50%;
            }
          }
          &.online::before {
            background-color: #57bb50;
          }
          &.offline::before {
            background-color: #cbced1;
          }
          &.busy::before {
            background-color: #f55;
          }
          &.busy::after {
            content: '';
            position: absolute;
            display: inline-block;
            left: -27px;
            top: 0;
            width: 16px;
            height: 16px;
            background: url(../images/ico-busy.svg) no-repeat;
          }
          &.busy.meeting::after {
            background: url(../images/ico-meeting.svg) no-repeat;
          }
          &.busy.call::after {
            background: url(../images/ico-call.svg) no-repeat;
          }
          &.busy.out::after {
            background: url(../images/ico-out.svg) no-repeat;
          }
          &.busy.meal::after {
            background: url(../images/ico-meal.svg) no-repeat;
          }
          &.vacation::after {
            content: '';
            position: absolute;
            display: inline-block;
            left: -27px;
            top: 0;
            width: 16px;
            height: 16px;
            background: url(../images/ico-vacation.svg) no-repeat;
          }
          &.has-child {
            padding-left: 20px;
          }
          &.current-chat > a::after {
            content: '';
            position: absolute;
            top: 0;
            right: -18px;
            width: 5px;
            height: 100%;
            background-color: $primary-color;
          }
          + li {
            margin-top: 18px;
          }
          a.user-wrap {
            display: block;
            text-decoration: none;
            color: inherit;
          }
          .user-pic-wrap {
            position: relative;
            display: inline-block;
            margin-right: 20px;
            vertical-align: middle;
            &::before {
              content: '';
              position: absolute;
              right: -11px;
              bottom: 0;
              width: 22px;
              height: 22px;
              background-repeat: no-repeat;
              background-position: center;
              border-radius: 50%;
              z-index: 1;
            }
            &.pc::before {
              background-color: #28a7e8;
              background-image: url(../images/ico-pc.svg);
            }
            &.mobile::before,
            &.pc-mobile::before {
              background-color: #94c400;
              background-image: url(../images/ico-mobile.svg);
            }
            &.pc-mobile::after {
              content: '';
              position: absolute;
              right: 5px;
              bottom: 0;
              width: 22px;
              height: 22px;
              background-repeat: no-repeat;
              background-position: center;
              border-radius: 50%;
              background-color: #28a7e8;
              background-image: url(../images/ico-pc.svg);
              z-index: 0;
            }
            .user-pic {
              position: relative;
              display: block;
              width: 50px;
              height: 50px;
              border-radius: 50%;
              overflow: hidden;
              text-align: center;
              > img {
                width: 50px;
              }
              &.no-pic {
                background-color: #eee;
                > img {
                  width: 40px;
                  margin-top: 10px;
                }
              }
            }
          }
          .user-name {
            display: inline-block;
            max-width: calc(100% - 75px);
            vertical-align: middle;
            .user-message {
              display: block;
              max-width: 100%;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              color: #999;
              font-size: 0.8571428571428571rem; // 12/14px
            }
          }
          ul {
            list-style: none;
            margin: 0;
            padding: 0;
          }
          > ul > li {
            &:not(.has-child)::before {
              left: -43px;
            }
            &:not(.has-child)::after {
              left: -47px;
            }
            > ul > li {
              &:not(.has-child)::before {
                left: -63px;
              }
              &:not(.has-child)::after {
                left: -67px;
              }
              > ul > li {
                &:not(.has-child)::before {
                  left: -83px;
                }
                &:not(.has-child)::after {
                  left: -87px;
                }
              }
            }
          }
        }
      }
    }
  }
}
